.userpic {
    display: block;
    padding: 4px;
    margin-bottom: 33px;
    margin-top: -44px;
    margin-left: 119px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.btnmihaf{
   color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; 
}